<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GoTrack-Login</title> 
    
    <link rel="stylesheet" href="/styles/Login.css">
    <link rel="icon" type="image/x-icon" href="images/logo.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="initial1" style="display: flex; padding: 28px;"><img style="height: 45px;" src="/images/Logo.png" alt="Logo"><p style="margin-left: 10px;"><b><a style="color: black; text-decoration: none;" href="/">GoTrack</a></b></p>
    <div style="display: flex; margin-left: 30vw;">
        <h3><b><a style="color: rgb(0, 0, 0); text-decoration: none;"   href="/">Home</a></b></h3>
        <h3><b><a style="color: rgb(0, 0, 0); text-decoration: none;" href="/">About</a></b></h3>
        <h3><b><a style="color: rgb(0, 0, 0); text-decoration: none;" href="/">Features</a></b></h3>
    </div>

    <button class="contact1" ><a style="color: white; text-decoration: none;" href="mailto: ishanhere24810@gmail.com">Contact Us</a></button>

    </div>


    <div class="container1" style="display: flex;">

        <div class="left_container1">
            <img src="/images/LoginImage.png" alt="">

            <h3 style="margin-right: 25px;">Details for the Shipment</h3>
            <a style="color: black;" href="/"><button class="SignUp">Take Shipment</button></a>





        </div>


        <div class="right_container1">

            <h1>Shipping Details</h1>

            <br>
            <br>
            <br>

            <div><span>Name: <%=Name%></span></div>
            <br>
            <hr><br>
            <div><span>Contact: <%=Contact%></span></div>
            <br>
            <hr><br>
            <div><span>Package Name: <%=Package%></span></div>
            <br>
            <hr><br>
            <div><span>Package_Type: <%=type%></span></div>
            <br>
            <hr><br>
            <div><span>Dimensions: <%=dimensions%></span></div>
            <br>
            <hr><br>
            <div><span>Weight: <%=weight%></span></div>
            <br>
            <hr><br>
            <div><span>Pickup From: <%=pickup%></span></div>
            <br>
            <hr><br>
            <div><span>Drop Location: <%=drop%></span></div>
            <br>
            <hr><br>
            <div><span>Date: <%=date%></span></div>
            <br>
            <hr><br>
            <div><span>Receiver Name: <%=receiver_name%></span></div>
            <br>
            <hr><br>
            <div><span>Receiver Contact: <%=receiver_contact%></span></div>





            

 



           
    </div>

</body>
</html>